:root {
   --accent-color-rgb: 131, 183, 53;
   --accent-color: rgba(var(--accent-color-rgb), 1);
   --inp-border-color: rgba(0, 0, 0, 0.1);
   --inp-border-radius: 0px;
   --inp-border-with: 2px;
   --inp-border: var(--inp-border-with) solid var(--inp-border-color);
   --header-top-hover-border: 1px solid rgba(255, 255, 255, 0.25);
   --header-top-right-hover-color: rgba(255, 255, 255, 0.6);
   --header-text-transition: all 0.25s ease;
   --bs-btn-border-width: 2px;
   --bs-btn-border-color: var(--inp-border-color);
}
.product-box {
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
   height: 100%;
   min-height: 283px;
   overflow: hidden;
   position: relative;
   display: flex;
   align-items: start;
   flex-direction: column;
   justify-content: end;
}
.product-box .product-img {
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.2s ease-in;
}
.product-box .product-title {
   padding: 0 15px;
   color: #333;
   font-size: 20px;
   font-weight: 600;
}
.product-box:hover .product-img {
   transform: scale(1.3);
}
.product-box .product-count {
   margin-bottom: -2.2em;
   padding: 0 15px 15px 15px;
   transition: all 0.15s ease-in;
   color: rgb(119, 119, 119);
   font-size: 14px;
}
.product-box:hover .product-count {
   margin-bottom: 0;
}
.header-category-area {
   z-index: 100;
   color: #333;
   background-color: #fff;
}
.header-category-area div {
   max-height: 45px;
}
.header-category-area span {
   color: #333;
   font-size: 14px;
   font-weight: 600;
}
.header-category-area i {
   right: 15px;
   color: rgba(82, 82, 82, 0.45);
}
.canvas__open {
   font-size: 22px;
   color: #111;
   height: 35px;
   width: 35px;
   text-align: center;
   cursor: pointer;
}
.owl-carousel .owl-item img {
   width: auto;
}
.btn {
   --bs-btn-border-width: 2px;
   --bs-btn-border-radius: 0px;
}
.btn-outline-secondary {
   --bs-btn-border-color: var(--inp-border-color);
}
.form-control {
   border: var(--inp-border);
   border-right: 1px;
   border-radius: var(--inp-border-radius);
}
.input-group .btn {
   border-left-width: 1px;
}
.input-group .btn-category {
   border-right-width: 1px;
   border-right-width: 0;
}
.btn-category span {
   font-size: 13px;
}
.zoom-product-cover {
   max-height: 500px;
}
.zoom-cover-right div img {
   max-height: 250px;
}
.zoom-cover-left img {
   min-height: 500px;
   min-width: 500px;
   width: 100%;
}
.zoom-product-text-1 {
   color: #a5a5a5;
   font-size: 14px;
}
.zoom-product-text-3 {
   color: #777;
}
.input-group .btn:hover {
   background-color: transparent !important;
   color: #777;
   border-color: var(--inp-border-color);
}
.btn.active,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
   background-color: transparent !important;
   color: #777;
   border-color: var(--inp-border-color);
}
.input-group .form-control::placeholder {
   font-size: 14px;
   color: #777;
}
.input-group .btn + .btn {
   border-left-width: 1px !important;
}
.input-group {
   min-height: 46px;
}
.input-group
   .btn
   .btn-outline-secondary
   .dropdown-toggle
   .dropdown-toggle-split {
   border: 20px !important;
}
.header-drill-area {
   background-color: var(--accent-color);
   color: #fff;
}
.header-top-hover-border-left {
   border-left: var(--header-top-hover-border);
}
.header-top-hover-border-right {
   border-right: var(--header-top-hover-border);
}
.dropdown-menu {
   border-radius: 0;
   inset: -3px 15px auto auto !important;
}
.dropdown-menu li a {
   color: #848484;
   font-size: 14px;
}
.dropdown-menu li a:hover {
   background-color: #fff;
   color: var(--accent-color);
   transition: var(--header-text-transition);
}
.price-cover {
   gap: 36px;
}
.header__nav__option html,
body {
   height: 100%;
   font-family: Lato, sans-serif;
   -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   color: #111;
   font-weight: 400;
   font-family: Lato, sans-serif;
}
h1 {
   font-size: 70px;
}
h2 {
   font-size: 36px;
}
h3 {
   font-size: 30px;
}
h4 {
   font-size: 24px;
}
h5 {
   font-size: 18px;
}
h6 {
   font-size: 16px;
}
p {
   font-size: 15px;
   font-family: Lato, sans-serif;
   color: #3d3d3d;
   font-weight: 400;
   line-height: 25px;
   margin: 0 0 15px 0;
}
img {
   max-width: 100%;
}
button:focus,
input:focus,
select:focus {
   outline: 0;
}
ul {
   padding: 0;
   margin: 0;
}
.section-title {
   margin-bottom: 45px;
   text-align: center;
}
.section-title span {
   color: #e53637;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-bottom: 15px;
   display: block;
}
.section-title h2 {
   color: #111;
   font-weight: 700;
   line-height: 46px;
}
.set-bg {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
}
#preloder {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 999999;
   background: #000;
}
.loader {
   width: 40px;
   height: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -13px;
   margin-left: -13px;
   border-radius: 60px;
   animation: loader 0.8s linear infinite;
   -webkit-animation: loader 0.8s linear infinite;
}
@keyframes loader {
   0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      border: 4px solid #f44336;
      border-left-color: transparent;
   }
   50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      border: 4px solid #673ab7;
      border-left-color: transparent;
   }
   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
   }
}
@-webkit-keyframes loader {
   0% {
      -webkit-transform: rotate(0);
      border: 4px solid #f44336;
      border-left-color: transparent;
   }
   50% {
      -webkit-transform: rotate(180deg);
      border: 4px solid #673ab7;
      border-left-color: transparent;
   }
   100% {
      -webkit-transform: rotate(360deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
   }
}
.header {
   background: #fff;
}
.header__top {
   background: var(--accent-color);
   height: 42px;
}
.header__top__right i {
   color: #fff;
   font-size: 14px;
}
.header__top__right i:hover {
   color: var(--header-top-right-hover-color);
   transition: var(--header-text-transition);
}
.header-top-right-text > .header__top__hover:hover span {
   color: var(--header-top-right-hover-color);
   transition: var(--header-text-transition);
}
.input-group > input:focus {
   outline: 0;
   border: none;
}
.header__top__hover {
   display: inline-block;
   position: relative;
}
.header__top__hover:hover ul {
   opacity: 1;
   visibility: visible;
   transition: 0.2s;
}
.header__top__hover span,
strong span {
   color: #fff;
   font-size: 12px;
   text-transform: uppercase;
   display: inline-block;
   cursor: pointer;
}
.header__top__hover span i {
   position: relative;
   color: rgba(255, 255, 255, 0.6);
   font-size: 12px;
}
.header__top__hover ul {
   background: #fff;
   display: inline-block;
   position: absolute;
   left: 0;
   top: 44px;
   opacity: 0;
   visibility: hidden;
   z-index: 3;
   -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   -webkit-transition: all, 0.3s;
   -o-transition: all, 0.3s;
   transition: all, 0.3s;
   width: 230px;
}
.header__top__hover ul li {
   list-style: none;
   font-size: 14px;
   color: #777;
   padding: 2px 15px;
   cursor: pointer;
}
.header__top__hover ul li:hover {
   color: var(--accent-color);
   transition: var(--header-text-transition);
}
.header__logo {
   padding: 30px 0;
}
.header__logo a {
   display: inline-block;
}
.header__menu {
   font-size: 13px;
   padding: 15px 0 15px;
}
.header__menu i {
   color: rgba(82, 82, 82, 0.45);
}
.header__menu ul li {
   list-style: none;
   display: inline-block;
   margin-right: 20px;
   position: relative;
}
.header__menu ul li.active a:after {
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
}
.header__menu ul li:hover a:after {
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
}
.header__menu ul li:hover .dropdown {
   top: 32px;
   opacity: 1;
   visibility: visible;
}
.header__menu ul li:last-child {
   margin-right: 0;
}
.header__menu ul li .dropdown {
   position: absolute;
   left: 0;
   top: 56px;
   width: 150px;
   background: #111;
   text-align: left;
   padding: 5px 0;
   z-index: 9;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all, 0.3s;
   -o-transition: all, 0.3s;
   transition: all, 0.3s;
}
.header__menu ul li .dropdown li {
   display: block;
   margin-right: 0;
}
.header__menu ul li .dropdown li a {
   font-size: 14px;
   color: #fff;
   font-weight: 400;
   padding: 5px 20px;
   text-transform: capitalize;
}
.header__menu ul li .dropdown li a:after {
   display: none;
}
.header__menu ul li a {
   color: #111;
   font-weight: 600;
   position: relative;
   padding: 3px 0;
   text-decoration: none;
}
.header__menu ul li a:hover {
   color: var(--accent-color);
   transition: var(--header-text-transition);
}
.header__menu ul li.active a {
   color: var(--accent-color);
}
.header__nav__option {
   text-align: right;
   padding: 30px 0;
}
.header__nav__option a {
   position: relative;
   text-decoration: none;
   color: #333;
}
.header__nav__option a i span {
   top: 6px;
   position: absolute;
   background: var(--accent-color);
   padding: 2px 4px;
   border-radius: 10px;
   font-size: 8px;
   color: #fff;
   right: 1px;
}
.header-bag-icon {
   position: relative;
   font-size: 18px;
}
.header__nav__option a .header-bag-icon span {
   top: 0;
   right: -8px;
}
.header__nav__option span {
   font-size: 13px;
   font-weight: 600;
   color: #333;
}
.header__nav__option a:last-child {
   margin-right: 0;
}
.header__nav__option .price {
   font-size: 13px;
   color: #111;
   font-weight: 600;
   display: inline-block;
   margin-left: -20px;
   position: relative;
}
.header-drill-area span {
   font-size: 13px;
   font-weight: 700;
}
.header-drill-area .fa-bars {
   font-size: 17px;
   font-weight: 600;
}
.header-drill-area .fa-chevron-down {
   font-size: 11px;
   font-weight: 700;
}
.header__menu ul .active-border {
   border-inline-end: 1px solid rgba(0, 0, 0, 0.105);
}
.offcanvas-menu-wrapper {
   display: none;
}
.hero__slider.owl-carousel .owl-item.active .hero__text h6 {
   top: 0;
   opacity: 1;
}
.hero__slider.owl-carousel .owl-item.active .hero__text h2 {
   top: 0;
   opacity: 1;
}
.hero__slider.owl-carousel .owl-item.active .hero__text p {
   top: 0;
   opacity: 1;
   color: #777;
   font-size: 15px;
   margin-bottom: 0;
}
button.btn.btn-category.btn-outline-secondary.dropdown-toggle.dropdown-toggle-split.show {
   background-color: transparent !important;
   color: #777;
   border-color: var(--inp-border-color);
}
.hero__items {
   padding-top: 52px;
   background-color: #f8f8f8;
}
.hero__text h6 {
   color: #e53637;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-bottom: 28px;
   position: relative;
   top: 100px;
   opacity: 0;
   -webkit-transition: all, 0.3s;
   -o-transition: all, 0.3s;
   transition: all, 0.3s;
}
.hero__text h2 {
   color: #111;
   font-size: 54px;
   font-weight: 700;
   line-height: 58px;
   margin-bottom: 30px;
   position: relative;
   top: 100px;
   opacity: 0;
   -webkit-transition: all, 0.6s;
   -o-transition: all, 0.6s;
   transition: all, 0.6s;
}
.hero__text p {
   font-size: 16px;
   line-height: 28px;
   margin-bottom: 35px;
   position: relative;
   top: 100px;
   opacity: 0;
   -webkit-transition: all, 0.9s;
   -o-transition: all, 0.9s;
   transition: all, 0.9s;
}
.slider-price {
   color: var(--accent-color);
}
.hero__slider.owl-carousel .owl-nav .owl-prev {
   font-size: 36px;
   color: #333;
   position: absolute;
   left: 15px;
   top: 50%;
   margin-top: -18px;
   line-height: 29px;
}

.hero__slider.owl-carousel .owl-nav .owl-next {
   font-size: 36px;
   color: #333;
   position: absolute;
   right: 15px;
   top: 50%;
   margin-top: -18px;
   line-height: 29px;
}
@media only screen and (min-width: 1200px) {
   .container {
      max-width: 1170px;
   }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .categories__text h2 {
      font-size: 26px;
   }
   .hero__slider.owl-carousel .owl-nav button {
      left: 2px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .header__menu ul li {
      margin-right: 10px;
   }
   .header__nav__option a {
      margin-right: 10px;
   }
   .header__nav__option .price {
      margin-left: 0;
   }
   .hero__slider.owl-carousel .owl-nav button {
      left: 2px;
   }
   .categories__text {
      margin-bottom: 40px;
   }
   .instagram__text {
      padding-top: 70px;
   }
}
@media (max-width: 1020px) {
   .arrow_right,
   .arrow_left {
      display: none !important;
   }
}
@media only screen and (max-width: 767px) {
   .offcanvas-menu-overlay {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      content: "";
      z-index: 98;
      -webkit-transition: all, 0.5s;
      -o-transition: all, 0.5s;
      transition: all, 0.5s;
      visibility: hidden;
   }
   .header__logo img {
      max-width: 200px !important;
   }
   .offcanvas-menu-overlay.active {
      visibility: visible;
   }
   .offcanvas-menu-wrapper {
      position: fixed;
      left: -300px;
      width: 300px;
      height: 100%;
      background: #fff;
      padding: 50px 20px 30px 30px;
      display: block;
      z-index: 99;
      overflow-y: auto;
      -webkit-transition: all, 0.5s;
      -o-transition: all, 0.5s;
      transition: all, 0.5s;
      opacity: 0;
   }
   .offcanvas-menu-wrapper.active {
      opacity: 1;
      left: 0;
   }
   .offcanvas__menu {
      display: none;
   }
   .slicknav_btn {
      display: none;
   }
   .slicknav_menu {
      background: 0 0;
      padding: 0;
      margin-bottom: 20px;
   }
   .slicknav_nav ul {
      margin: 0;
   }
   .slicknav_nav .slicknav_row,
   .slicknav_nav a {
      padding: 7px 0;
      margin: 0;
      color: #111;
      font-weight: 600;
   }
   .slicknav_nav .slicknav_arrow {
      color: #111;
   }
   .slicknav_nav .slicknav_row:hover {
      border-radius: 0;
      background: 0 0;
      color: #111;
   }
   .slicknav_nav a:hover {
      border-radius: 0;
      background: 0 0;
      color: #111;
   }
   .slicknav_nav {
      display: block !important;
   }
   .offcanvas__option {
      text-align: center;
      margin-bottom: 30px;
   }
   .offcanvas__top__hover {
      display: inline-block;
      position: relative;
   }
   .offcanvas__top__hover:hover ul {
      top: 24px;
      opacity: 1;
      visibility: visible;
   }
   .offcanvas__top__hover span {
      color: #111;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: inline-block;
      cursor: pointer;
      font-weight: 600;
   }
   .offcanvas__top__hover span i {
      font-size: 20px;
      position: relative;
      top: 3px;
      right: 2px;
   }
   .offcanvas__top__hover ul {
      background: #111;
      display: inline-block;
      padding: 2px 0;
      position: absolute;
      left: 0;
      top: 44px;
      opacity: 0;
      visibility: hidden;
      z-index: 3;
      -webkit-transition: all, 0.3s;
      -o-transition: all, 0.3s;
      transition: all, 0.3s;
   }
   .offcanvas__top__hover ul li {
      list-style: none;
      font-size: 13px;
      color: #fff;
      padding: 2px 15px;
      cursor: pointer;
   }
   .offcanvas__nav__option {
      text-align: center;
      margin-bottom: 25px;
   }
   .offcanvas__nav__option a {
      display: inline-block;
      margin-right: 26px;
      position: relative;
   }
   .offcanvas__nav__option a span {
      color: #0d0d0d;
      font-size: 11px;
      position: absolute;
      left: 5px;
      top: 8px;
   }
   .offcanvas__nav__option a:last-child {
      margin-right: 0;
   }
   .offcanvas__nav__option .price {
      font-size: 15px;
      color: #111;
      font-weight: 700;
      display: inline-block;
      margin-left: -20px;
      position: relative;
      top: 3px;
   }
   .offcanvas__text p {
      color: #111;
      margin-bottom: 0;
   }
   .header .container {
      position: relative;
   }
   .header__nav__option {
      display: none;
   }
   .hero__slider.owl-carousel .owl-nav button {
      left: 15px;
      top: 80%;
   }
}
@media only screen and (max-width: 479px) {
   .hero__items {
      height: auto;
   }
   .hero__text h2 {
      font-size: 36px;
      line-height: 48px;
   }
   .blog__hero__text h2 {
      font-size: 36px;
   }
   .categories__text h2 {
      font-size: 30px;
      line-height: 55px;
   }
   .categories__text:before {
      height: 250px;
   }
}
